.card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.new-btn{
  border-radius: 2px;
  width: 100%;
  height: 226px;
}
.meta-content{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 64px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ant-checkbox-wrapper{
  //margin-left: 8px;
}
